.banner-wrap {
  position: relative;
  display: block;
}

.center-content {
  .btn-area {
    margin: 0;
  }
}

.slide {
  position: relative;
  direction: ltr;
  * {
    direction: ltr;
  }
  img {
    margin-top: 80px;
    max-width: 560px;
    max-height: 320px;
    @include breakpoints-down(sm) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.cur {
    .deco-wrap {
      transform: translateX(0px) scale(1);
      opacity: 1;
    }
  }
  @include breakpoints-up(md) {
    height: 560px;
    &.center-content {
      padding-top: $spacing10;
    }
  }
  @include breakpoints-down(md) {
    padding-top: $spacing5;
  }
  @include breakpoints-down(sm) {
    text-align: center;
    height: auto;
    padding: spacing(15, 0, 5);
    img {
      margin-top: $spacing2 !important;
    }
  }
}

.background-banner {
  position: absolute;
  right: -90px;
  display: none;
  @include breakpoints-between(md, xl) {
    display: block;
  }
  img {
    max-width: 480px;
    position: relative;
  }
  svg {
    position: absolute;
    bottom: -20px;
    left: 0;
    @include breakpoints-down(md) {
      display: none;
    }
  }
}

.primary-light {
  @include use-theme(fill, $palette-primary-light, $palette-primary-dark);
}

.primary-main {
  fill: $palette-primary-main
}

.secondary-light {
  @include use-theme(fill, $palette-secondary-light, $palette-secondary-dark);
}

.accent-light {
  @include use-theme(fill, $palette-accent-light, $palette-accent-dark);
}

.h-banner {
  text-align: center;
  img {
    height: 160px;
    margin: 0 auto;
    @include breakpoints-down(sm) {
      max-width: none;
    }
  }
}

.inner {
  display: flex;
  height: 100%;
  position: relative;
  align-items: center;
  @include breakpoints-down('md') {
    flex-direction: column;
    justify-content: center;
  }
}

.text {
  h4 {
    font-weight: $font-bold;
    margin-bottom: $spacing2;
  }
  h5 {
    @include palette-text-secondary;
    margin-bottom: $spacing4
  }
}

.btn-area {
  @include breakpoints-up(sm) {
    @include margin-left($spacing3 * -1);
  }
  & > * {
    @include breakpoints-up(sm) {
      margin-right: $spacing2;
    }
    @include breakpoints-down(xs) {
      margin-bottom: $spacing2
    }
  }
  .v-btn {
    font-size: 18px;
  }
  .v-btn.v-btn--contained {
    width: 200px;
    @include breakpoints-down(xs) {
      width: 100%;
      margin-bottom: $spacing2
    }
  }
  .v-btn--flat:not(.v-btn--round).v-size--default {
    padding: spacing(1, 2);
  }
  .v-btn--text {
    @include use-theme(color, $palette-primary-dark, $palette-primary-light)
  }
}

.slide-nav {
  display: flex;
  .v-btn {
    text-transform: none;
    height: auto;
    padding: $spacing1;
    font-weight: $font-regular;
    ::v-deep .v-btn__content {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
    strong {
      text-transform: capitalize;
      font-size: 28px;
      display: block;
      font-weight: $font-bold;
      @include margin-left(-2px)
    }
    &:after {
      content: '';
      width: 0%;
      position: absolute;
      @include left(4px);
      top: 26px;
      opacity: 0;
      border-left: 10px solid $palette-secondary-main;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      @include rtl-flip;
      transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
    }
    &:hover {
      transition: all 0.3s ease-out;
      background: none;
      &:after {
        opacity: 1;
      }
    }
    &.active {
      strong {
        @include use-theme(color, $palette-primary-dark, $palette-primary-light)
      }
      &:after {
        opacity: 1;
      }
    }
  }
}

.divider {
  margin: spacing(0, 2)
}
