.root {
  position: static;
}

.blog-list {
  @include breakpoints-down(md) {
    padding: spacing(5, 0, 0)
  }
  @include breakpoints-down(sm) {
    margin-top: $spacing6
  }
}

.deco {
  position: absolute;
  width: 80%;
  height: $spacing8 * 10;
  @include left(0);
  top: 180px;
  border: 2px solid $palette-secondary-main;
  border-left: none;
  border-radius: 0 100px 100px 0;
  .v-application--is-rtl & {
    transform: scale(-1)
  }
}

.more {
  font-size: 18px;
  padding: 0 !important;
  @include margin-left(-8px)
}

.video-wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  @include breakpoints-down(xs) {
    max-width: 320px;
    margin: 0 auto;
  }
}

.video-carousel {
  width: 100%;
  @include shadow14;
  overflow: hidden;
  border-radius: 30px;
  height: 420px;
  position: relative;
  z-index: 5;
  @include breakpoints-up(lg) {
    margin: spacing(0, 4);
  }
  @include breakpoints-down(sm) {
    height: 360px
  }
  @include breakpoints-down(xs) {
    height: 220px
  }
}

.item {
  overflow: hidden;
  height: 420px;
  &.v-card {
    background-color: $palette-common-black;
  }
  @include breakpoints-down(sm) {
    height: 360px
  }
  @include breakpoints-down(xs) {
    height: 220px
  }
  img {
    width: 100%;
    min-height: 100%;
    display: block;
  }
}

.play-btn {
  border-radius: 10px;
  @include palette-background-paper;
  @include shade;
  opacity: 1;
  position: absolute;
  width: 80px;
  height: 80px;
  @include left(calc(50% - 40px));
  top: calc(50% - 40px);
  padding: 0;
  line-height: normal;
  i.v-icon {
    color: $palette-secondary-main;
    font-size: 80px;
  }
}

.video-popup {
  max-width: none;
  h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    overflow: hidden;
  }
  @include breakpoints-up(sm) {
    width: 690px;
  }
  ::v-deep iframe {
    width: 100%
  }
}

.close-btn {
  @include right(-4px)
}

.headline {
  .title-main {
    font-size: 1.25rem;
    font-weight: $font-medium;
    line-height: 2rem;
    letter-spacing: 0.0125em;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
