.figure {
  width: 310px;
  max-height: 400px;
  margin-top: $spacing5;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s ease;
  ::v-deep img {
    position: relative;
    width: 100%;
    @include margin-left($spacing3);
    margin-top: $spacing10;
  }
}

.fade {
  opacity: 0.15;
}
