.footer {
  padding-top: 0;
  text-align: center;
  position: relative;
  padding-bottom: $spacing15;
  .container {
    position: relative;
  }
  nav {
    margin: spacing(6, 0);
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: $spacing1;
        a {
          text-transform: capitalize;
          text-decoration: none !important;
          padding: spacing(0, 1);
          font-size: 18px;
          @include palette-text-primary;
          @include breakpoints-down(xs) {
            font-size: 16px
          }
          &:hover {
            color: $palette-primary-main
          }
        }
      }
    }
  }
}

.socmed {
  display: flex;
  width: 200px;
  margin: $spacing8 auto;
  justify-content: space-between;
}

.icon {
  padding: $spacing1;
  width: 40px;
  height: 40px;
  @include use-theme(background, $palette-primary-light, $palette-primary-main);
  &.v-btn {
    transition: all 0.3s ease-out;
    i {
      @include use-theme(color, $palette-primary-dark, $palette-primary-light);
      width: 25px;
      height: 25px;
      margin-left: -1px;
      line-height: 24px;
      font-size: 22px;
    }
  }
  &:hover {
    background: $palette-primary-dark;
    i {
      color: $palette-primary-light !important;
    }
  }
}
.copyright {
  display: block;
  padding: spacing(1.5);
  margin-top: spacing(3);
  p {
    margin-bottom: 0
  }
}
