.deco {
  @include breakpoints-up(lg) {
    width: 640px
  }
  @include breakpoints-down(sm) {
    display: none;
  }
  ::v-deep img {
    z-index: 5;
    position: relative;
    width: 100%;
    @include breakpoints-down(md) {
      width: 70%;
    }
  }
}

.figure {
  height: 600px;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s ease;
  direction: ltr;
}

.fade {
  opacity: 0.15;
}
