$imgAPI-agency0: 'https://res.cloudinary.com/imajin/image/upload/c_scale,w_320/v1568621904/agency/office_building_yrr3le.jpg';
$imgAPI-agency1: 'https://res.cloudinary.com/imajin/image/upload/c_scale,w_478/v1583497237/agency/about_rwc6wi.jpg';

$imgAPI-showcase0: 'https://ik.imagekit.io/q5gfy1zcvl/luxi-vue-banner-showcase_Te67fpxIR7.jpg';
