.root {
  padding-top: $spacing3;
  @include breakpoints-down(sm) {
    text-align: center;
  }
  h4 {
    margin-bottom: $spacing2
  }
}

.img {
  position: absolute;
  overflow: hidden;
  img {
    display: block;
  }
}

.puzzle {
  position: relative;
  height: 100%;
  @include breakpoints-down(md) {
    @include left(-120px)
  }
  @include breakpoints-down(sm) {
    display: none;
  }
}

.big {
  width: 290px;
  top: 110px;
  left: 120px;
}

.small, .medium {
  border-radius: 50%
}

.medium {
  width: 130px;
  height: 130px;
  left: 280px;
  top: -40px;
}

.small {
  width: 98px;
  height: 98px;
  top: -20px;
  left: 40px;
}

.deco {
  position: absolute;
  &-1 {
    left: 0;
    top: -46px;
    opacity: 0.3;
    border-bottom: 156px solid;
    border-right: 160px solid transparent;
    @include use-theme(border-left-color, $palette-accent-light, $palette-accent-dark);
    @include use-theme(border-bottom-color, $palette-accent-light, $palette-accent-dark);
  }
  &-2 {
    height: 250px;
    width: 300px;
    left: 200px;
    top: 30px;
    border-top-right-radius:  100px;
    border: 10px solid $palette-primary-main;
  }
  &-3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 160px;
    top: 50px;
    border: $spacing1 solid $palette-secondary-main
  }
  &-4 {
    right: 150px;
    top: 220px;
    border-bottom: 130px solid $palette-accent-main;
    border-left: 130px solid transparent;
  }
  &-5 {
    width: 48px;
    height: 48px;
    left: 80px;
    bottom: -30px;
    opacity: 0.1;
    background: $palette-primary-main;
  }
}
